.app.theme-light {
  background-color: var(--color-light-primary-background);
  color: #000;
}

.app.theme-dark {
  background-color: var(--color-dark-primary-background);
  color: #fff;
}

.app.theme-red {
  background-color: var(--color-red-primary-background);
  color: #000;
}

.app.theme-blue {
  background-color: var(--color-blue-primary-background);
  color: #fff;
}
